@import url("https://fonts.googleapis.com/css2?family=Khand:wght@300;400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --color-white: #ffffff;
  --color-light-green: #bcecd1;
  --color-light-brown: #928b8b;
  --color-black: #242424;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Khand", sans-serif;
  transition: all 0.3s ease;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

html {
  width: 100vw;
  height: 100dvh;
  overflow: hidden;
}
html body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  overflow-y: scroll;
}
html body::-webkit-scrollbar {
  display: none;
}
html body main section {
  width: 100%;
  padding: 1.5rem 3.5rem;
}
html body main section #hero {
  background: url("/images/model.webp") center/cover no-repeat, var(--color-light-brown);
  background-blend-mode: normal;
}